<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<div class="topnav" id="myTopnav" style="margin-bottom:1ex; margin-top:0ex">
  <a style="padding-right: 50px; font-size:160%; hover{color:#222}" href="/">The Ocean Hours</a>
  <a style="padding-top:20px" href="/order">Order</a>
  <a style="padding-top:20px" href="/about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i style="padding-top: 12px;"; class="fa fa-bars"></i>
  </a>
</div>
