<!DOCTYPE html>
{% include head.html %}
<html>
  <body class="bg-1">
   {% include nav3.html %}
    <!-- <div class="section"> -->
    <!--   <div class="container"> -->
    <!-- 	<div class="row" style="margin-bottom:0ex;"> -->
    <!-- 	  <h1 style="margin-bottom:1ex;"><a style="hover{color:#222}" href="/">The Ocean Hours</a></h1> -->
    <!-- 	</div> -->
    <!--   </div> -->
    <!-- </div> -->

    {{ content }}

  </body>
  <div class="footerholder">
    <div class="footer">
             © The Ocean Hours <br> <a style="color:grey;" href="https://www.facebook.com/pg/mauratilburyphotography/">Maura Tilbury Photography <a>
    </div>
</div>
<!-- <footer style="text-align:center, size=50" bg> -->
<!--         © 2018 Copyright The Ocean Hours -->
<!--   </footer> -->
</html>
